html, body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600; 
    margin:0;
    padding:0;
    font-size: 16px;   
}

.result {
    padding: 10px;
    text-align: right;
    height: 1em;
}

#app .buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;

    grid-gap: 5px;
    
}

#app button {
    text-align: center;
    text-transform: uppercase;
    background-color: #d4d4d4;
    padding: 10px;
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
    background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    color:#ffffff;
    border-radius:0.5em;
	cursor:pointer;
}

#app .button:focus {
    color: #ffff00;
    font-weight: 600;
}


#app .button:hover {
    color: white;
}